@import "reset";
@import "variables";
@import "responsive";
@import "beers";
@import "button";
@import "card";
@import "input";
@import "input";
@import "layout";
@import "header";

.main-layout {
  &.transparency {
    background-color: #dedede;
    height: 100%;
  }
}

.main-layout-beers {
  display: grid;
  width: 90%;
  margin: 0 auto;
  &.transparency {
    background-color: #dedede;
    height: 100%;
  }
  @include desktop {
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
