<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./../templates/head.html') %>
  </head>
  <body>
    <%= require('html-loader!./../templates/solid-navbar.html') %>
    <main id="root" class="main-layout transparency">
      <div id="root">
        <div data-cy="login-loading" class="login-loading fa-3x text-center-align">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div>
      <form id="comment-form" class="comment-form-container">
        <div class="form-group">
          <input
            class="input primary"
            data-cy="comment-input"
            name="comment"
            type="comment"
            id="comment"
            placeholder="Beer comment"
          />
        </div>
        <div class="button-container">
          <button class="button" type="submit">comment</button>
        </div>
      </form>
    </main>
  </body>
</html>
